<li class="menu">
    <a href="#">
        <i class="fa fa-gear"></i>
        <span class="nav-label">系统设置</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('site/index')}">基本设置</a>
        </li>
        <li>
            <a class="J_menuItem" href="">支付设置</a>
        </li>
        <li>
            <a class="J_menuItem" href="">邮箱设置</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <i class="fa fa-jpy"></i>
        <span class="nav-label">订单管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('orders/index')}">订单列表</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <i class="fa fa-delicious"></i>
        <span class="nav-label">版本管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('version/show')}?version=free">体验版</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('version/show')}?version=bussiness">商业版</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('version/show')}?version=infinite">无限版</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('groups/addGroup')}">购买产品订单列表</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <i class="fa fa-user"></i>
        <span class="nav-label">用户管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('admins/index')}">用户列表</a>
        </li>
    </ul>
</li>